.main {
  border-style: solid;
  padding: 10px;
}

.main:hover {
  cursor: pointer;
}

.isOn {
  border-style: solid;
  padding: 10px;
  background-color: lightgreen;
  color: black;
}

.isOff {
  border-style: solid;
  padding: 10px;
  background-color: lightsalmon;
  color: black;
}
